/*Main Body */
body{
  padding:a5px;
  background-color: lightgray;
  font:Belleza;
}

/*Footer.js*/
footer {
  background-color: lightslategray;
  color: white;
  margin-top:10px;
  text-align: center;
}

footer p{
  margin-top: 0.8em!important;
  margin-left: 1.5em;
}

/*Sidebar.js*/

.sidebar-list-styling{
  padding-left:50px;
  padding-top: 15px;
  width: 20%;
  background-color: black;
  }

  .sidebar Button{
    background-color: white;
    color: black;    
  }

/* header */
.header {
  margin-top: 0.5em!important;
  text-align: center;
  background-color: darkgray;
  color: black;
}